.port-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.port-item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.port-item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.port-item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.port-item h3{
    margin: 1.2rem 0 2rem;
}

.port-item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.allproj{
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0;
}

@media screen and (max-width:1024px) {

  .port-container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  
}

@media screen and (max-width:600px) {

  .port-container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}
  