header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header-socials a {
  transform: scale(1.5);
}

.header-socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  border-radius: 12rem 12rem 0 0 ;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem;
}

.scrool-down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
    
}

@media screen and (max-width:1024px) {

  header{
    height: 68vh;
  }
  
}

@media screen and (max-width:600px) {

  header{
    height: 100vh;
  }

  .header-socials, .scrool-down{
    display: none;
  }
  
}