footer{
    background: var(--color-primary);
    padding: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.footer-socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer-socials a {
     background: var(--color-bg);
     color: var(--color-white);
     padding: 0.8rem;
     border-radius: 0.7rem;
     display: flex;
     border: 1px solid transparent;
}

.footer-socials a:hover {
background: transparent;
color: var(--color-bg);
border-color: var(--color-bg);
}

.footer-copyright{
    font-size: 1rem;
    margin-bottom: 4rem;
    color: var(--color-bg);
}

@media screen and (max-width:600px) {

  .footer-socials{
    margin-bottom: 2.6rem;
}
  
}